.title{
    color: #6c63ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding: 12px;
}
.mark-title{
    font-size: 25px;
}